@import './reset.css';
@import './variables.css';

/*  */

body {
  min-width: 375px;
  font-family: sans-serif;
  font-size: 22px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #111;
  background-color: #f4f6f8;
  overflow-x: hidden;
}

/*  */

.main {
  min-height: 100vh;
}

.main_auth {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */

.container {
  max-width: 1920px;
  box-sizing: content-box;
  padding: 0 30px;
  margin: 0 auto;
}

/*  */

.wrap_section {
  padding: 30px 0;
}

/*  */

.h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 30px;
}

/*  */

a {
  text-decoration: none;
  color: inherit;
}
